/* Add CSS Styling */
.odd
{
    background-color: rgb(255, 135, 155);
    font-family: "Verdana", "DejaVu Sans", sans-serif
}
.cooler
{
    font-size: 24px;
}
#four
{
    background-color: rgb(0, 255, 131);
    font-size: 24px;
    font-weight: bold;
}
#two
{
    color: rgb(0, 0, 255);
    font-size: 36px;
}